.{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* NAVBAR */

.navbar{
    background-color: black;
    opacity: 70%;
}

.navbar-brand{

    color: white;
   
    font-size: 150%;     

}

.nav-link{

    color: white;
    font-size: 110%;  
}



/* CAROUSEL */

.carousel-caption{

     /* margin-bottom: 12%;  */
     font-family: 'Poller One', cursive;
     color: rgb(184, 182, 182);
   
}

 .carousel-caption h2{
    /* font-size: 450% */
   
    text-shadow: 2px 2px 5px black
} 

.carousel-caption h4{
    /* font-size: 200% */
    text-shadow: 1px 1px 10px black;
} 

/* .hi img{
    position: relative;
    align-items: inherit;

} */




/* MENU */
.menu{
    font-family: 'Simonetta', cursive;
    text-shadow: 0px 0px 6px rgb(247, 241, 241); 
    color: black;
    
}



/* LINE */
 
.vertical {
    border-left: 2px solid rgb(129, 125, 125);
    height: 40px;
    position:center;
    position: relative;
    left: 50%;
}
  




/* ABOUT */

.about {
    /* background-image: linear-gradient( to bottom right, rgb(0, 0, 0) , rgb(165, 10, 43)); */
 
    background-image:url(bg4.jpeg);
    background-position: center;
    opacity:100%;
    font-family: 'Fenix', serif;
    
}

.about p{
    
    width: 100%;
    color: rgb(150, 146, 146);
    font-size: 25pt;
    /* text-shadow: 0px 5px 8px rgb(221, 32, 32) */
}
    
.about p:hover{
    color: white;
}

 .mypic{
    width:18%; 
    height: 450px;
   display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: red;
    opacity: 70%;
}
 .mypic:hover{
    opacity: 100%;
    width:20%; 
    height: 490px;
}



/* SERVICES */

.service{

    /* background-image: linear-gradient( to bottom right, rgb(0, 0, 0) , rgb(4, 30, 70)); */

    background-color: rgb(0, 0, 0);
}
.service h3{
    color:white;
    font-family: 'Fenix', serif;
}
.service p{
    color: rgb(150, 146, 146);
    fill-opacity: 100%;
}
.service p:hover{
    color: white;
    font-size: larger;

}


/* PARALLAX */

.parallax{
    height: 30vw;
    background-image: url(services.jpeg);
    
    
    
    width:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Poller One', cursive;
}
.parallax h1{
    color: rgb(175, 20, 20); 
    
    text-shadow: 0 4px 7px white;
    font-size: 500%;
    margin-left:45%;
    width: 25%;
   
}
   


/* CONTACT */

.contact{
    background-color: black;
}
    
.contact p{
    color: rgb(255, 255, 255);
    word-spacing: 20px;
    font-family: 'Prociono', serif;

    
}
.contact a{
    color: rgb(175, 20, 20);
    text-decoration: none; 
}

.contact h6:hover{
    font-size: larger;
}

.contact h5{
    font-family: 'Prociono', serif;

}
.contact h1{
    text-shadow: 0px 0px 4px rgb(247, 241, 241); 
    font-family: 'Simonetta', cursive;

    

    /*responsive css code*/
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } 
 BIN +96 KB s1.jpeg 
